/*.slideBox {
	display: flex;
}

.slideContainer {
  display: flex;
  flex-basis:auto;
  flex-direction: column;
  align-items: left;
  max-height: 100rem;	
  overflow-y: auto;
  flex-basis: 100px;
  margin: auto;

  width: 1200px;
  height: 900px;
}

.slideItem {
	position: relative;
	margin: auto;
	align-self: left;
	border: 2px solid;
}


*/
/* ====================================================== */
/*                       Appearance                       */
/* ====================================================== */
/* The visible scrollbox with visible content */
#visibleScrollbox {
    position: absolute;
    background: white;
    margin: 100px 200px;
    width: 700px;
    height: 380px;
    overflow: hidden;
}

/* Positioned over to the left to move everything over a bit */
#content {
    position: relative;
    left: -170px;
    width: 815px;
}

/* ====================================================== */
/* This is the "circle" that affects the text wrapping. */
/* It needs dimensions, but no visible appearance.  The  */
/* "shape-outside: circle()" attribute is what makes the */
/* text wrap around it properly. */
/* ====================================================== */
#scrollCircle {
    position: relative;
    width: 300px;
    height: 300px;
    float: left;
    shape-outside: circle();
    margin: 20px;
    /* border-radius: 50%; */
    /* background: rgba(255, 0, 0, 0.5); */
}
/* ====================================================== */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* ====================================================== */
/*                        Control                         */
/* ====================================================== */
/* A direct copy of the visible textbox.  No background  */
/* color is utilized to make it invisible (but we don't */
/* use the "visibility" attribute because we still need */
/* to see and use the scrollbar). */
#controlScrollbox {
    position: absolute;
    top: 100px;
    left: 200px;
    /* background: rgba(255, 0, 0, .5); */
    width: 700px;
    height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: scroll;
}

/* This controls the length of the control scrollbox. */
/* Set this to an appopriate length for your content. */
#scrollLength {
    height: 1600px;
}
/* ====================================================== */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* The following circles are for visual flair only */
#bgCircle {
    position: absolute;
    top: 140px;
    left: 45px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #1B4859;
}

#visibleScrollboxCircle {
    position: absolute;
    top: 40px;
    left: -155px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #547C8C;
}

#topCircle {
    position: absolute;
    top: 160px;
    left: 65px;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: #809BA6;
}
