@keyframes rotate {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(30deg); }
  40% { transform: rotate(60deg); }
  60% { transform: rotate(90deg); }
  100% { transform: rotate(120deg); }
}

.content {
  position: relative;
  height: 800px;
  overflow: hidden;
  border: 2px solid;

    animation: rotate 5s linear infinite;    /*動畫名稱，需與 keyframe 名稱對應*/
/*    animation-duration: 5s;    /*動畫持續時間，單位為秒*/
    animation-play-state: paused;
    animation-fill-mode: both;
/*    animation-delay: 2s;    /*動畫延遲開始時間*/

}

/*.boxA {
  display: none;
  position: absolute;
}*/

@keyframes move {
  0% { top: 20%; left: 50%; }
  20% { top: 40%; left: 30%; }
  40% { top: 60%; left: 10%; }
  60% { top: 80%; left: 30%; }
  100% { top: 90%; left: 50%; }
}

.square {
/*    width: 100px;
    height: 100px;*/
    background: blue;
    display: block;
    position: absolute;

    /* animation 參數設定 */
    animation: move 5s linear 1;    /*動畫名稱，需與 keyframe 名稱對應*/
/*    animation-duration: 5s;    /*動畫持續時間，單位為秒*/
    animation-play-state: paused;
    animation-fill-mode: both;
/*    animation-delay: 2s;*/    /*動畫延遲開始時間*/
/*    animation-iteration-count: 1; */   /*動畫次數，infinite 為無限次*/    
}

/* ====================================================== */
/*                       Appearance                       */
/* ====================================================== */
/* The visible scrollbox with visible content */
/*#visibleScrollbox {
    position: absolute;
    right: 100px;
    background: grey;
    margin: 100px 200px;
    width: 1500px;
    height: 800px;
    overflow: hidden;
}*/

/* Positioned over to the left to move everything over a bit */
/*#content {
    display: flexbox;
    position: relative;
    left: 20px;
    width: 1500px;
}*/

/* ====================================================== */
/* This is the "circle" that affects the text wrapping. */
/* It needs dimensions, but no visible appearance.  The  */
/* "shape-outside: circle()" attribute is what makes the */
/* text wrap around it properly. */
/* ====================================================== */
/*#scrollCircle {
    position: relative;
    width: 700px;
    height: 700px;
    float: left;
    shape-outside: circle();
    margin: 20px;

}*/
/* ====================================================== */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* ====================================================== */
/*                        Control                         */
/* ====================================================== */
/* A direct copy of the visible textbox.  No background  */
/* color is utilized to make it invisible (but we don't */
/* use the "visibility" attribute because we still need */
/* to see and use the scrollbar). */
#controlScrollbox {
  border: 0px solid;
  position: absolute;
  top: 100px;
  left: 200px;
  width: 1500px;
  height: 800px;
  overflow-y: scroll;
  overflow-x: hidden;
  pointer-events: scroll;
}

/* This controls the length of the control scrollbox. */
/* Set this to an appopriate length for your content. */
#scrollLength {
    height: 30000px;
}
/* ====================================================== */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

