.content {
  position: relative;
  height: 800px;
  overflow: hidden;
  border: 2px solid;
}

.box {
  position: absolute;
  left: 100px;
  top: -200px;
}
/*.boxA {
  display: none;
  position: absolute;
}*/

@keyframes rotate {
  to {
    transform: rotate(720deg);
    transform-origin: 50% 50%;
  }
}

/* The element to apply the animation to */
.animationTest {
  width: 10px;
  height: 100px;
  background-color: red;
  animation: rotate 3s linear infinite;
/*  animation-play-state: paused;
*/  animation-direction: reverse;
}


/*#circleList
{
    width:300px;
    height:300px;
    position:relative;
    margin:0;
    padding:0;
    list-style:none;
    border:solid 2px #ccc;
    left:50%;
    top:20px;
    margin-left:-150px;
}

#circleList li
{
    display:block;
    position:absolute;
    background:#ccc;
    font-family:arial;
    color:#666;
    text-align:center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;      
    width:30px;
    height:30px;
    line-height:30px;
    margin:-15px 0 0 -15px;
}


*/

/* ====================================================== */
/*                       Appearance                       */
/* ====================================================== */
/* The visible scrollbox with visible content */
/*#visibleScrollbox {
    position: absolute;
    right: 100px;
    background: grey;
    margin: 100px 200px;
    width: 1500px;
    height: 800px;
    overflow: hidden;
}*/

/* Positioned over to the left to move everything over a bit */
/*#content {
    display: flexbox;
    position: relative;
    left: 20px;
    width: 1500px;
}*/

/* ====================================================== */
/* This is the "circle" that affects the text wrapping. */
/* It needs dimensions, but no visible appearance.  The  */
/* "shape-outside: circle()" attribute is what makes the */
/* text wrap around it properly. */
/* ====================================================== */
/*#scrollCircle {
    position: relative;
    width: 700px;
    height: 700px;
    float: left;
    shape-outside: circle();
    margin: 20px;

}*/
/* ====================================================== */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* ====================================================== */
/*                        Control                         */
/* ====================================================== */
/* A direct copy of the visible textbox.  No background  */
/* color is utilized to make it invisible (but we don't */
/* use the "visibility" attribute because we still need */
/* to see and use the scrollbar). */
/*#controlScrollbox {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 1500px;
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: scroll;
}*/

/* This controls the length of the control scrollbox. */
/* Set this to an appopriate length for your content. */
/*#scrollLength {
    height: 30000px;
}*/
/* ====================================================== */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

